*{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(6, 8, 31);
}

.divider{
    letter-spacing: .2em;
    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 66, 165);
    text-align: center;
    margin-bottom: 1.3em;
}
#projects{
    margin-bottom: 5em;
    border-top-left-radius: 3em;
}
.card{
    height: 190px;
    margin-top: 0.5em;
}
.card img{
    border: 2px solid rgba(0, 66, 165, 0.544);
    height: 200px;
}

.areacontact{
    color: rgb(255, 255, 255);
    text-align: center;
}