.title{
    margin: auto;
    width: 300px;
    background-color: rgba(255, 110, 255, 0.747);
    border-radius: 0.5em;
}
h2{
    color: rgb(245, 12, 148);
    text-decoration: underline;
    text-align: center;
}
.headerbox{
    background-color: rgb(167, 0, 159);
}
.headerbox img{
    height: 450px;
}
.conteudo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17pt;
    margin-top: 0.5em;
}

h5{
    font-size: 20pt;
    color: rgb(245, 12, 148);
}