*{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(6, 8, 31);
    color: white;
}

h2{
    color: rgb(245, 12, 148);
    text-decoration: underline;
    text-align: center;
}

.conteudo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17pt;
    margin-top: 0.5em;
}

h5{
    padding: 1em;
    font-size: 20pt;
    color: rgb(245, 12, 148);
}
.subheader ul{
    margin: auto;
    background-color: rgb(152, 66, 152);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    max-width: 710px;
}
.subheader a{
    text-decoration: none;
    color: black;
}
.subheader a:hover{
    color: black;
}
.subheader img{
    margin: auto;
    max-width: 710px;
}

